@font-face {
    font-family: 'Code Pro';
    src: local('Code Pro Bold'), local('Code-Pro-Bold'),
        url('/fonts/Code-Pro-Bold.woff2') format('woff2'),
        url('/fonts/Code-Pro-Bold.woff') format('woff'),
        url('/fonts/Code-Pro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro';
    src: local('Code Pro Regular'), local('Code-Pro-Regular'),
        url('/fonts/Code-Pro.woff2') format('woff2'),
        url('/fonts/Code-Pro.woff') format('woff'),
        url('/fonts/Code-Pro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Open Sans;
}

html {
    background-color: black;
    display: flex;
    justify-content: center;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: black;
    }
}

body {
    width: 80%;
}

/* Стили header */

.header {
    width: 100%;
    padding-top: 4vh;

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_link {
            text-decoration: none;
            font-weight: 100;
            font-size: 1vw;

            &:hover {
                font-weight: bold;
            }
        }
    }

    &_hr {
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    &_bottom {
        display: flex;
        justify-content: space-between;

        &_left {
            display: flex;


            &_link {
                padding-right: 4vw;
                text-decoration: none;
                font-weight: 100;
                font-size: 1vw;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        &_right {
            display: flex;

            &_link {
                padding-left: 4vw;
                text-decoration: none;
                font-weight: 100;
                font-size: 1vw;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}

/* Cтили секции 1 */
.start {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &_top {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        height: 35vh;

        &_text {
            font-weight: 400;
            font-family: Code Pro;
            font-size: 2vw;
        }
    }

    &_bottom {
        display: flex;
        justify-content: flex-end;

        &_movie {
            width: 50vw;
        }
    }
}

/* Cтили секции 2 */
.adress {
    display: flex;
    justify-content: space-between;
    padding-top: 20vh;
    padding-bottom: 30vh;

    &_card {
        height: 17vh;
        width: 23vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_top {
            display: flex;
            justify-content: flex-start;

            &_text {
                text-decoration: none;

                &:hover {
                    font-weight: 500;
                }
            }
        }

        &_bottom {
            display: flex;
            justify-content: flex-end;

            &_number {
                font-weight: bold;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Cтили секции 3 */
.services {
    padding-bottom: 30vh;

    &_title {
        font-family: Code Pro;
        font-weight: 400;
        font-size: 4vw;
        padding-bottom: 10vh;
    }

    &_price {
        &_position {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 12vh;

            &:hover {
                font-weight: bold;

                .services_price_position_right_button_arrow {
                    display: none;

                    &_active {
                        display: block;
                    }
                }
            }


            &_right {
                display: flex;

                &_text {
                    padding-right: 10vw;
                }

                &_button {
                    &_arrow {
                        display: block;
                    }

                    &_arrow_active {
                        display: none;
                    }

                }
            }
        }
    }
}

/* Cтили секции 4 */
.images {
    display: flex;
    flex-direction: column;
    height: 150vh;
    justify-content: space-between;
    padding-bottom: 30vh;

    &_right {
        display: flex;
        justify-content: flex-end;
        height: 30vh;

        &_sizers {
            &_line {
                width: inherit;
                height: 7vh;
                background-color: black;
                bottom: 27%;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &_text {
                        padding-right: 2vw;
                    }

                    &_arrow:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    &_left {
        display: flex;
        justify-content: flex-start;
        height: 30vh;

        &_glass {
            &_line {
                width: inherit;
                height: 7vh;
                background-color: black;
                bottom: 27%;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &_text {
                        padding-right: 2vw;
                    }

                    &_arrow:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

/* Cтили секции 5 */
.slider {
    position: relative;
    height: 83vh;
    padding-top: 40vh;
    padding-bottom: 40vh;

    &_item {
        animation-name: fade;
        animation-duration: 1.5s;

        &_slide {
            object-fit: cover;
            width: 100%;
            border: none;
            box-shadow: none;
        }
    }

    &_arrow {
        &_left {
            &_prev {
                cursor: pointer;
                position: absolute;
                top: 0;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
            }

            &_prev:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

        &_right {
            &_next {
                cursor: pointer;
                position: absolute;
                top: 0;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            &_next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}

/* Анимации к секции 5 */
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Cтили секции 6 */
.text {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_left {
        font-family: Code Pro;
        font-size: 2vw;
        line-height: 1.5;
    }
}

/* Cтили секции 7 */
.firm {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
    padding-bottom: 30vh;

    &_block {
        display: flex;
        height: 30vh;
        justify-content: center;

        &_container {
            &_img {
                width: 100%;
                height: auto;
            }

            &_line {
                width: inherit;
                height: 7vh;
                background-color: black;
                bottom: 27%;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &_text {
                        padding-right: 2vw;
                    }

                    &_arrow:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

/* Cтили секции 8 */
.masters {
    height: 93vh;

    &_title {
        font-family: Code Pro;
        font-weight: 400;
        font-size: 4vw;
        padding-bottom: 10vh;
    }

    &_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_left {
            width: 45%;

            &_name {
                height: 12vh;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_text {
                    &_span {
                        visibility: hidden;
                        position: absolute;
                        z-index: -2;
                    }

                    &:hover &_span {
                        visibility: visible;
                    }
                }

                &_link {
                    &_arrow {
                        display: block;
                    }

                    &_arrow_active {
                        display: none;
                    }

                }

                &:hover {
                    font-weight: bold;

                    .masters_list_left_name_link_arrow {
                        display: none;

                        &_active {
                            display: block;
                        }
                    }
                }
            }
        }

        &_right {
            width: 45%;

            &_name {
                height: 12vh;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_text {
                    &_span {
                        visibility: hidden;
                        position: absolute;
                        z-index: -2;
                    }

                    &:hover &_span {
                        visibility: visible;
                    }
                }

                &_link {
                    &_arrow {
                        display: block;
                    }

                    &_arrow_active {
                        display: none;
                    }

                }

                &:hover {
                    font-weight: bold;

                    .masters_list_right_name_link_arrow {
                        display: none;

                        &_active {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

/* Cтили секции 9 */
.blog {
    position: relative;
    height: 50vh;
    padding-top: 30vh;
    padding-bottom: 40vh;

    &_title {
        font-family: Code Pro;
        font-weight: 400;
        font-size: 4vw;
        padding-bottom: 10vh;
    }

    &_bottom {
        display: flex;
        justify-content: center;

        &_button {
            text-decoration: none;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &_item {
        animation-name: fade;
        animation-duration: 1.5s;
        display: flex;
        justify-content: flex-end;
        height: 30vh;

        &_slide {
            object-fit: cover;
            width: 100%;
            border: none;
            box-shadow: none;
            display: flex;
            height: 25vh;
            justify-content: space-around;

            &_master {

                &_img {
                    width: 100%;
                }

                &_line {
                    width: inherit;
                    height: 7vh;
                    background-color: black;
                    bottom: 35%;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &_right {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        &_text {
                            padding-right: 2vw;
                        }

                        &_arrow:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    &_arrow {
        &_left {
            &_prev {
                cursor: pointer;
                position: absolute;
                top: 0;
                top: 55%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
            }

            &_prev:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

        &_right {
            &_next {
                cursor: pointer;
                position: absolute;
                top: 0;
                top: 55%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            &_next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}

.info {
    display: flex;
    flex-direction: column;

    &_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_img {
            max-width: 50%;
        }

        &_text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &_bold {
                font-size: 1.5vw;
                line-height: 1.5;
                font-weight: 500;
            }

            &_small {
                line-height: 1.5;
                padding-left: 4vw;
                font-size: 1vw;
                font-weight: 100;
            }
        }
    }

    &_bottom {
        padding-top: 20vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-bottom: 40vh;

        &_img {
            max-width: 50%;
        }

        &_text {
            line-height: 1.5;
            display: flex;
            align-items: flex-end;
            font-weight: 100;
            font-size: 1vw;
        }
    }

    &_block {
        display: flex;
        height: 42vh;
        justify-content: center;

        &_container {
            &_img {
                width: 100%;
                height: auto;
            }

            &_line {
                width: inherit;
                height: 7vh;
                background-color: black;
                bottom: 20%;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &_text {
                        padding-right: 2vw;
                    }

                    &_arrow:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.reviews {

    &_title {
        font-family: Code Pro;
        font-weight: 400;
        font-size: 2vw;
        padding-bottom: 3vh;
        padding-top: 15vh;
    }

    &_slider {
        display: flex;
        justify-content: center;
        align-items: center;

        &_arrow {
            cursor: pointer;
        }

        &_items {
            width: 100%;
            height: 40vh;
            position: relative;
            overflow: hidden;

            &_item {
                width: 100%;
                height: 40vh;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: rgb(0, 0, 0);
                transition: all ease .6s;
                left: 0;
                top: 0;

                &_hr {
                    height: 20vh;
                    margin-right: 2vh;
                    margin-left: 2vh;
                }

                &_info {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    height: 20vh;

                    &_name {
                        font-weight: 800;
                    }

                    &_date {
                        padding-top: 2vh;
                        padding-bottom: 2vh;
                    }

                    &_text {
                        font-style: italic;
                    }

                }
            }
        }
    }
}

.question {
    padding-bottom: 20vh;
    height: 70vh;

    &_title {
        font-family: Code Pro;
        font-weight: 400;
        font-size: 4vw;
        padding-top: 15vh;
        padding-bottom: 10vh;
    }

    &_accordion {


        &_trigger {
            width: 100%;
            text-align: left;
            height: 12vh;
            background-color: rgba(0, 0, 0, 0);
            border-top-color: white;
            border-bottom-color: white;
            border-right-width: 0;
            border-left-width: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            &_text {
                font-weight: 500;
            }
        }
    }

    &_answer {
        overflow: hidden;
        height: 0;
        transition: height 0.5s;
        background-color: white;

        &_text {
            color: black;
            padding: 3%;
        }
    }
}

.map {
    width: 99vw;
    height: 50vh;
    right: 12.5%;
}

.footer {
    &_link {
        display: flex;
        justify-content: space-between;
        padding-top: 4vh;
        padding-bottom: 4vh;

        &_item {
            text-decoration: none;

            &:hover {
                font-weight: bold;
            }
        }
    }

    &_adress {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 15vh;
        align-items: center;

        &_card {
            height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &_top {
                &_text {
                    text-decoration: none;

                    &:hover {
                        font-weight: 500;
                    }
                }

            }

            &_bottom {
                &_number {
                    margin-top: 3vh;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        &_hr {
            height: 5vh;
        }
    }

    &_social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_mobile {
            display: flex;
            align-items: center;

            &_mob {
                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &_icons {
            display: flex;
            align-items: center;

            &_soc {
                padding-right: 2vw;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}